ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000099;
}

li {
	float: center;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 18px 21px;
	text-decoration: none;
}

.inactive:hover {
	background-color: #b3b3ff;
	color: #00004d;
}

.active {
	background-color:#1e7b7b;
}

body {
	font-family: "Courier New", Courier, monospace;
}

#title {
	margin-left: 50px;
}

#settings {
	margin-left: 50px;
}

#quiz {
	margin-left: 50px;
}

